body {
    background: #f5f5f4;
    color: #050505;
    line-height: 30px;
    font-size: 20px;
    font-family: sans-serif;
    padding: 25px 50px;
  }
  
  code {
    color: #ffffff;
    background: #deedf2;
    padding: 2px 10px;
    border-radius: 10px;
  }
  
  a {
    color: #3f8067;
  }
  a:hover {
    color: #326b66;
  }